.centrarTxt{
    margin-bottom:4em;
}
ul #listaot {
 list-style:none;
}
#gale, #gale img{
    width:640px;
    height:480px;
    transition: .6s transform ease-out;
}
#gale{ margin:0 auto;}
 
 #gale img { border:32px solid #ffe;
 box-shadow:12px 12px 10px rgba(0, 0, 0, 0.2);
 position:absolute;
 transform-origin:center 1200px;
 }
 
 #gale:hover img:first-child{
     transform:rotate(24deg);
 }
 
 #gale:hover img:last-child{
     transform:rotate(-24deg);
 }
 #pgale, #pgale img{
     width:320px;
     height:240px;
 }
  #pgale img{
     border:16px solid #ffe;
     box-shadow:12px 12px 10px rgba(0, 0, 0, 0.2); 
  }
  #pgale img:first-child{
      
      transform: translateY(-25px) translateX(50px);
  }
  #pgale img:last-child{
      
      transform: translateY(25px) translateX(-50px);
  }